/*
Monokai style - https://highlightjs.org/
*/
.hljs {
  background: #272822;
  color: #f8f8f2;
}
.hljs-tag,
.hljs-literal,
.hljs-name {
  color: #f92672;
}
.hljs-attribute,
.hljs-symbol,
.hljs-params {
  color: #fd971f;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-string {
  color: #a6e22e;
}
.hljs-title,
.hljs-section {
  color: #a6e22e;
  font-weight: bold;
}
.hljs-comment,
.hljs-quote {
  color: #75715e;
}
.hljs-number,
.hljs-regexp,
.hljs-type,
.hljs-built_in {
  color: #ae81ff;
}
.hljs-variable,
.hljs-template-variable {
  color: #f8f8f2;
}
.hljs-meta {
  color: #66d9ef;
}
.hljs-deletion {
  background: #493a3a;
}
.hljs-addition {
  background: #3d3a33;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
