/*
One Dark style - https://highlightjs.org/
*/
.hljs {
  background: #282c34;
  color: #abb2bf;
}
.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag {
  color: #c678dd;
}
.hljs-string,
.hljs-doctag {
  color: #98c379;
}
.hljs-number,
.hljs-literal {
  color: #d19a66;
}
.hljs-variable,
.hljs-template-variable {
  color: #e06c75;
}
.hljs-tag .hljs-attr {
  color: #d19a66;
}
.hljs-title,
.hljs-section {
  color: #e06c75;
  font-weight: bold;
}
.hljs-type,
.hljs-class {
  color: #e5c07b;
}
.hljs-tag,
.hljs-name {
  color: #e06c75;
}
.hljs-attribute {
  color: #d19a66;
}
.hljs-meta {
  color: #61afef;
}
.hljs-deletion {
  background: #3e4451;
}
.hljs-addition {
  background: #3e4451;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
